<form method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label for="goTo">Go to:</label>
    <select id="goTo" name="node">
        <option selected value="/start">Start</option>
        <option value="/a">A</option>
        <option value="/b">B</option>
        <option value="/c">C</option>
        <option value="/d">D</option>
        <option value="/e">E</option>
        <option value="/end">End</option>
    </select>
    <input type="submit" value="Go!">
</form>